//#Mixins

//#Media Queries
  $breakpoints: (
    'tiny':     ( max-width:  320px ),
    'small':    ( min-width:  360px ),
    'medium':   ( min-width:  480px ),
    'xmedium':  ( min-width:  720px ),
    'large':    ( min-width:  960px ),
    'xlarge':   ( min-width: 1200px ),
    'xxlarge':  ( min-width: 1400px ),
    'xxxlarge': ( min-width: 1900px )
  );

  @mixin bp($name) {
    @if map-has-key($breakpoints, $name) {
      @media #{inspect(map-get($breakpoints, $name))} {
        @content;
      }
    }
    @else {
      @warn "Couldn't find a breakpoint named `#{$name}`.";
    }
  }

//#Transitions
  @mixin transition-delay($time){
    -webkit-transition-delay: $time;
    -moz-transition-delay: $time;
    -ms-transition-delay: $time;
    -o-transition-delay: $time;
    transition-delay: $time;
  }

  @mixin transition($property, $time) {
    -webkit-transition: $property $time cubic-bezier(.4,0,1,1);
    -moz-transition: $property $time cubic-bezier(.4,0,1,1);
    -o-transition: $property $time cubic-bezier(.4,0,1,1);
    transition: $property $time cubic-bezier(.4,0,1,1);
  }

  @mixin transitionEaseOut($property, $time) {
    -webkit-transition: $property $time cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: $property $time cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: $property $time cubic-bezier(0.19, 1, 0.22, 1);
    transition: $property $time cubic-bezier(0.19, 1, 0.22, 1);
  }

//#BEMy
  @mixin element($name) {
    @at-root #{&}__#{$name} {
      @content;
    }
  }

  @mixin modifier($name) {
    @at-root #{&}--#{$name} {
      @content;
    }
  }

//@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');


$font-primary:        Helvetica, Arial, sans-serif;

html, body {
  width: 100%;
  font-display: optional;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  background: #333;
  color: #fff;
  font-size: 14px;
  margin: 0 auto;
  font-family: $font-primary;
  overflow-x: hidden;
  width: 100%;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1.25;
  font-weight: 100;
}

h1 { font-size: 36px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

p {
  line-height: 1.5;
}

/**************************

External Components styling

***************************/

/* React Tabs */

.react-tabs__tab-list{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.react-tabs__tab{
  width: 100%;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 10px 0;
}

.react-tabs__tab--selected{
  font-weight: 700;
  border-bottom: 1px solid rgba(255,255,255,1);
}

.react-tabs__tab-panel--selected{
  height: calc(100vh - 318px);
  overflow-y: auto;
  @include bp(xmedium){
    height: calc(100vh - 258px);
  }
}

.responsive-hidden{
  display: none;
  @include bp(xmedium){
    display: block;
  }
}