//#Mixins

//#Media Queries
  $breakpoints: (
    'tiny':     ( max-width:  320px ),
    'small':    ( min-width:  360px ),
    'medium':   ( min-width:  480px ),
    'xmedium':  ( min-width:  720px ),
    'large':    ( min-width:  960px ),
    'xlarge':   ( min-width: 1200px ),
    'xxlarge':  ( min-width: 1400px ),
    'xxxlarge': ( min-width: 1900px )
  );

  @mixin bp($name) {
    @if map-has-key($breakpoints, $name) {
      @media #{inspect(map-get($breakpoints, $name))} {
        @content;
      }
    }
    @else {
      @warn "Couldn't find a breakpoint named `#{$name}`.";
    }
  }

//#Transitions
  @mixin transition-delay($time){
    -webkit-transition-delay: $time;
    -moz-transition-delay: $time;
    -ms-transition-delay: $time;
    -o-transition-delay: $time;
    transition-delay: $time;
  }

  @mixin transition($property, $time) {
    -webkit-transition: $property $time cubic-bezier(.4,0,1,1);
    -moz-transition: $property $time cubic-bezier(.4,0,1,1);
    -o-transition: $property $time cubic-bezier(.4,0,1,1);
    transition: $property $time cubic-bezier(.4,0,1,1);
  }

  @mixin transitionEaseOut($property, $time) {
    -webkit-transition: $property $time cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: $property $time cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: $property $time cubic-bezier(0.19, 1, 0.22, 1);
    transition: $property $time cubic-bezier(0.19, 1, 0.22, 1);
  }

//#BEMy
  @mixin element($name) {
    @at-root #{&}__#{$name} {
      @content;
    }
  }

  @mixin modifier($name) {
    @at-root #{&}--#{$name} {
      @content;
    }
  }

//@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');


$font-primary:        Helvetica, Arial, sans-serif;

html, body {
  width: 100%;
  font-display: optional;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  background: #333;
  color: #fff;
  font-size: 14px;
  margin: 0 auto;
  font-family: $font-primary;
  font-weight: bold;
  overflow-x: hidden;
  width: 100%;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1.25;
  font-weight: bold;
}

h1 { font-size: 36px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

p {
  line-height: 1.5;
}

/**************************

External Components styling

***************************/

/* React Tabs */

.react-tabs{
  display: flex;
  flex-direction: column;
}
.react-tabs__tab-list{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex: 1 0 auto;
}

.react-tabs__tab{
  width: 100%;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 10px 0;
}

.react-tabs__tab--selected{
  font-weight: 700;
  border-bottom: 1px solid rgba(255,255,255,1);
}

.react-tabs__tab-panel{
  overflow-y: auto;
  height: 100%;
}
.react-tabs__tab-panel--selected{
  overflow-y: auto;
}

.responsive-hidden{
  display: none;
  @include bp(xmedium){
    display: block;
  }
}

/* react-video-seek-slider */

.ui-video-seek-slider {
  position: relative;
}
.ui-video-seek-slider:focus {
  outline: none;
}
.ui-video-seek-slider .track {
  padding: 10px 0;
  cursor: pointer;
  outline: none;
}
.ui-video-seek-slider .track:focus {
  border: 0;
  outline: none;
}
.ui-video-seek-slider .track .main {
  width: 100%;
  height: 2px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 30px;
  position: absolute;
  left: 0;
  top: 8.5px;
  overflow: hidden;
  transition: transform 0.4s;
  outline: none;
}
.ui-video-seek-slider .track .main:focus {
  border: 0;
  outline: none;
}
.ui-video-seek-slider .track .main .buffered {
  position: absolute;
  background-color: rgba(255,255,255,0.3);
  width: 100%;
  height: 100%;
  transform: scaleX(0.8);
  z-index: 2;
  transform-origin: 0 0;
}
.ui-video-seek-slider .track .main .seek-hover {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: 0 0;
  opacity: 0;
  transition: opacity 0.4s;
}
.ui-video-seek-slider .track .main .connect {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 3;
  left: 0;
  transform-origin: 0 0;
}
.ui-video-seek-slider .thumb {
  pointer-events: none;
  position: absolute;
  width: 12px;
  height: 12px;
  left: -6px;
  top: 4px;
  z-index: 4;
  transform: translateX(100px);
}
.ui-video-seek-slider .thumb .handler {
  transition: transform 0.2s;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transform: scale(0.4);
}
.ui-video-seek-slider .thumb.active .handler {
  opacity: 1;
  transform: scale(1);
}
.ui-video-seek-slider .hover-time {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 16px;
  font-size: 14px;
  color: #ddd;
  top: -25px;
  left: 0;
  padding: 5px 10px;
  border-radius: 20px;
  opacity: 0;
  transform: translateX(150px);
  pointer-events: none;
}
.ui-video-seek-slider .hover-time.active {
  opacity: 1;
}
.ui-video-seek-slider:hover .track .main .seek-hover {
  opacity: 1;
}